html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:white;/*背景颜色*/
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}


/*
table {
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
	margin-bottom:0px;
}



#container {
    width: 1600px;
    height: 807px;
    margin:0 auto;
    position:relative;
}




#center-container {

    width:1600px;
    left:tab 100%;
   
}

.text {
    margin: 0px;
}

/*
#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}
*/
#log {
     position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    font-size:1.0em;
    font-weight:bold;
  }


#infovis {
    position:relative;
    width:1600px;
    height:807px;  /*改变大小时需同时改变animate.js中transx(x)函数*/
  /* position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:-10px;
*/
    margin:auto;
    overflow:hidden;
    
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}
